# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.idea/
.DS_Store
config/.DS_Store
config/products.temp.json
config/products.txt
export/my_app
analysis_options.yaml
apple-world.iml
CHANGELOG.md
pubspec.lock
config/auth.json
config/auth.local.json
/export/
/my_app
